* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(./assets/gov-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
} 

.container {
    border-radius: 25px;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 25px;
    position: absolute;
    margin-top: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.65);
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
    align-items: center;
}

input {
    width: 778px;
    height: 50px;
    border-radius: 10px;
    border: 0.25px solid grey;
    margin-left: 100px;
    padding-left: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    font-size: 22px;

}

select {
    width: 800px;
    height: 50px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 100px;
    text-align: center;
    padding-left: 20px;
    /* padding-right: 20px; arrow wont move left */ 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    font-size: 22px;
}

#result-search {
    width: 120px;
    margin-top: 15px;
    margin-left: 45%;
    font-size: 32px;
    padding: 6px;
    border-radius: 10px;
    border: 1.55px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top right, rgb(171, 169, 201), rgb(71, 61, 207));
    color: white;
}

#result-search:hover {
    cursor: pointer;
    background-image: linear-gradient(to top right, rgb(139, 139, 139), rgb(36, 31, 105));
    box-shadow: none;
}